<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Über uns
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-content>
     <div class="aboutUs">
   <h2>Über Uns</h2>
   <p>Diese App ist im Rahmen des Bachelorprojekts entstanden und dient dazu, euch bei eurem Studium zu unterstützen.</p>
   </div>
     <h3>Feedback:</h3>
     <textarea name="text" id="text" placeholder="Feedback eingeben" rows="8" cols="60">
     </textarea>
     <button type="button"> Feedback senden</button>

     <form class="datenschutz">
       <h2>Datenschutz</h2>
       <input type="checkbox" ng-model="showMyText" ng-init="showMyText = false">
       <label ng-if="showMyText">
           <span ng-init="showMyText = true">
             <p>Die Betreiber dieser App nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
           <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren App personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
           <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p><br />
           <h2>Server-Log-Files</h2>
           <p>Der Provider der App erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
           <ul>
           <li>Browsertyp/ Browserversion</li>
           <li>verwendetes Betriebssystem</li>
           <li>Referrer URL</li>
           <li>Hostname des zugreifenden Rechners</li>
           <li>Uhrzeit der Serveranfrage</li>
           </ul>
           <p><br />Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.</p><br />
           <h2>Auskunft, Löschung, Sperrung</h2>
           <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p><br />
           <p></p>
         </span>
       </label>
     </form>
 </ion-content>
</ion-content>
