<ion-header>
  <ion-navbar color="primary">
    <ion-title>Hauptmenü</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="no-scroll">
  <ion-list>
        <button ion-item (click)="goToPage('moodle', 'https://moodle.uni-luebeck.de/my/')" icon-left>
          <ion-icon color="primary" name="school" item-left></ion-icon>
          Moodle
        </button>
        <button ion-item (click)="goToPage('filter')" icon-left>
          <ion-icon color="primary" name="ios-funnel" item-left></ion-icon>
          Filter
        </button>
        <button ion-item (click)="goToPage('settings')" icon-left>
          <ion-icon color="primary" name="md-settings" item-left></ion-icon>
          Einstellungen
        </button>
        <button ion-item (click)="goToPage('about')" icon-left>
          <ion-icon color="primary" name="information-circle" item-left></ion-icon>
          Über uns
        </button>
        <button ion-item (click)="goToPage('links')" icon-left>
          <ion-icon color="primary" name="share-alt" item-left></ion-icon>
          Links
        </button>
  </ion-list>
</ion-content>
